# 자료형과 문자열

In [2]:
# python의 자료형은 : 문자열, 숫자, 불 타입으로 세가지만 존재
print('문자열의 데이터 타입 : ',type('문자열'))

문자열의 데이터 타입 :  <class 'str'>

In [4]:
print('숫자열의 데이터 타입 : ',type(10))

숫자열의 데이터 타입 :  <class 'int'>

In [5]:
print('불리언(bollion) 데이터 타입 : ',type(True))

불리언(bollion) 데이터 타입 :  <class 'bool'>

In [6]:
print('소수점의 데이터 타입 : ',type(3.4))

소수점의 데이터 타입 :  <class 'float'>

In [9]:
print('"안녕하세요!!"') # 문자열은 "", ''

"안녕하세요!!"

In [12]:
# 이스케이프 문자를 활용하여 문자열 만들기 : \" -> 일반문자"
# \t : 탭, \n : 엔터
print("이름\t나이\t지역")
print("송재연\t29\t중랑구")
print("송채은\t28\t일때문에성남")

이름	나이	지역
송재연	29	중랑구
송채은	28	일때문에성남

해당문제는 90p에 있음

In [14]:
# 여러라인의문자를 출력하기
print("1라인\n2라인")
print()
print('''1라인
2라인''')

1라인
2라인

1라인
2라인

In [16]:
# 명령어가 1라인 이상으로 길어질때 \(역슬래시 이용)
print("\"안녕하세요!! \"      \
")

"안녕하세요!! "

In [17]:
print("aaa",
     10)

aaa 10

알아서 들여쓰기 됨

In [ ]:
# 문자열 연산자, 문자열 자르기, 문자열 길이 구하기