# 자료형과 문자열

In [2]:
# python의 자료형은 : 문자열, 숫자, 불 타입으로 세가지만 존재
print('문자열의 데이터 타입 : ',type('문자열'))

문자열의 데이터 타입 :  <class 'str'>

In [4]:
print('숫자열의 데이터 타입 : ',type(10))

숫자열의 데이터 타입 :  <class 'int'>

In [5]:
print('불리언(bollion) 데이터 타입 : ',type(True))

불리언(bollion) 데이터 타입 :  <class 'bool'>

In [6]:
print('소수점의 데이터 타입 : ',type(3.4))

소수점의 데이터 타입 :  <class 'float'>

In [9]:
print('"안녕하세요!!"') # 문자열은 "", ''

"안녕하세요!!"

In [12]:
# 이스케이프 문자를 활용하여 문자열 만들기 : \" -> 일반문자"
# \t : 탭, \n : 엔터
print("이름\t나이\t지역")
print("송재연\t29\t중랑구")
print("송채은\t28\t일때문에성남")

이름	나이	지역
송재연	29	중랑구
송채은	28	일때문에성남

해당문제는 90p에 있음

In [14]:
# 여러라인의문자를 출력하기
print("1라인\n2라인")
print()
print('''1라인
2라인''')

1라인
2라인

1라인
2라인

In [16]:
# 명령어가 1라인 이상으로 길어질때 \(역슬래시 이용)
print("\"안녕하세요!! \"      \
")

"안녕하세요!! "

In [17]:
print("aaa",
     10)

aaa 10

알아서 들여쓰기 됨

In [1]:
# 문자열 연산자, 문자열 자르기, 문자열 길이 구하기
# 문자열 + 문자열 = 이어 붙히기
# 문자열 * 3 = 반복

In [2]:
print("안녕하세요" * 3)

안녕하세요안녕하세요안녕하세요

교재94p

In [6]:
# 문자열 자르기 : 문자열[시작인덱스 : 마지막 인덱스]
#-> 시작은 포함,마지막은 포함하지않음
hello = '안녕하세요'

# 전체 문자열의 길이 구하는 함수 : len(hello)
print(len(hello))
# 처음 문자와 마지막 문자 출력
print(hello[0], hello[-1])

# 처음부터 두 글자만 출력
print(hello[:2])

# 두번째 문자와 세번째 출력
print(hello[1:3])

# 세번째 문자 부터 끝까지
print(hello[3:])

5
안 요
안녕
녕하
세요

In [11]:
# 문자열의길이를 구해서 마지막 문자 출력
print(len(hello), hello[-1])

5 요

In [14]:
# // : 몫 , % : 나머지
print(3 // 2)
print(3 % 2)
print('3' + "안녕하세요") # 이건됨
print(3 + "안녕하세요") # 이건안됨

1
1
3안녕하세요

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [17]:
# 변수의 활용
var_a = 10
var_a
var_b = 20
var_b

20

In [18]:
var_a + var_b

30

In [19]:
hello

'안녕하세요'

In [20]:
var_a = 'str variable'
var_a

'str variable'

최신화 된다고 생각하면 될 듯

In [21]:
# 변수 선언과 할당
pi = 3.14159265 # 원주율
r = 10 # 반지름

In [24]:
print("원주율 =", pi)
print("반지름 =", r)
print("원의 둘레 =", 2*pi*r)
print("원의 넓이 =", pi*r*r)

원주율 = 3.14159265
반지름 = 10
원의 둘레 = 62.831853
원의 넓이 = 314.159265

교재 115p

In [30]:
# 복합 대입 연산자 : 변수 사칙연산 = 값
a = 10
a += 10
print(a) # a = 20
a *= 10
print(a) # a = 200
a /= 15
print(a)

# 문자열 복합 연산자
a_str = 'test'
a_str += '!!'
print(a_str)
a_str *= 3
print(a_str)

20
200
13.333333333333334
test!!
test!!test!!test!!

교재 117p

In [37]:
# input() -> 사용자가 입력하는 함수
input_str = input("문자입력\n")
input_str

문자입력
집을 가고싶은 나

'집을 가고싶은 나'

In [38]:
input_str

'집을 가고싶은 나'

In [53]:
# 숫자를 입력해서 변수에 저장 후 변수의 데이터 타입을 확인
input_data = input("숫자 입력 :")
type(input_data)

숫자 입력 :123

str

In [ ]:
# 데잍 타입 변경 : 문자를 숫자로 -> int(), float()
# 숫자를 문자로 -> str()
input_data = int(input_data)
type(input_data)

In [3]:
# 두 수를 입력 받아 두 수의 합과 곱을 구하세요
# 1. 숫자 두 개를 입력 받음, 입력 받은 두 수를 int로 형 변환
input_a = int(input("첫 숫자를 입력하세요 : "))
input_b = int(input("두번째 숫자를 입력하세요 : "))
# 3. 두 수의 합과 곱을 구함
print(input_a, "+", input_b, "=", input_a + input_b)
print(input_a, "*", input_b, "=", input_a * input_b)

첫 숫자를 입력하세요 : 22
두번째 숫자를 입력하세요 : 33
22 + 33 = 55
22 * 33 = 726

In [1]:
# 커피의 세 종류의 값을 설정 후 지불해야할 가격, 입력 받은 두 수를 int로 변환 하고
input_a = int(input("아메리카노의 가격"))
input_b = int(input("헤이즐넛의 가격"))
input_c = int(input("카페라떼의 가격"))
print(input_a, "+", input_b, "+", input_c, "=", input_a + input_b + input_c)

아메리카노의 가격1500
헤이즐넛의 가격2000
카페라떼의 가격2500
1500 + 2000 + 2500 = 6000

In [4]:
# 숫자와 문자열의 다양한 기능
# 문자열.format()
"{}{}".format(10, 'str')
print("{} + {} = {}".format(input_a, input_b, input_a + input_b))

1500 + 2000 = 3500

In [6]:
"{} 소수 {} {}".format(3.45, 'float', 34, 56)

'3.45 소수 float 34'

In [9]:
# 정수 출력에서 format() 함수활용
print("{}".format(17))
print("{:d}".format(17)) # d
print("{:5d}".format(17))
print("{:05d}".format(17))
print("{:5d}".format(17))

17
17
   17
00017

In [15]:
# 기호와 함께 출력하면서 format() 함수활용
print("+{}".format(17))
print("-{:d}".format(17)) # d
print("-1{:5d}".format(17))

print("{:5.2f}".format(17.222255)) # X, 정수f = 소숫점 어디까지 표현
print("{:10f}".format(17)) # 실수표현

print("{:g}".format(52.0)) # 의미없는 소수점 미만 자료 버리기
print("{:g}".format(52.120)) # 의미없는 소수점 미만 자료 버리기

+17
-17
-1   17
17.22
 17.000000
52
52.12

In [31]:
# 두 개의 숫자를 입력 받아 두 수의 합과 곱, 차, 나머지 값을 다음의 형식으로 출력하시오
# 1. 입력 받은 두 수는 10, 20
input_a = int(input("숫자를 입력하시오 ="))
input_b = int(input("숫자를 입력하시오 ="))
# 2. 입력 받은 두 수 10과 20의 합은 30
prt_str = "입력 받은 두 수"
print("{}는 {}과{}이고, 답은 {}이다".format(prt_str, input_a, input_b, input_a + input_b))

숫자를 입력하시오 =10
숫자를 입력하시오 =20
입력 받은 두 수는 10과20이고, 답은 30이다

In [37]:
# 3. 입력 받은 두 수 10과 20의 곱은 200
print("{}는 {}과 {}이고, 곱은 {}이다".format(prt_str, input_a, input_b, input_a * input_b))
# 4. 입력 받은 두 수 10과 20의 차는 -10
print("{}는 {}과 {}이고, 차는 {}이다".format(prt_str, input_a, input_b, input_a - input_b))
# 5. 입력 받은 두 수 10과 20의 나눈 나머지는 10
print("{}는 {}과 {}이고, 나머지는 {}이다".format(prt_str, input_a, input_b, input_a % input_b))

입력 받은 두 수는 10과 20이고, 곱은 200이다
입력 받은 두 수는 10과 20이고, 차는 -10이다
입력 받은 두 수는 10과 20이고, 나머지는 10이다