In [1]:
# 문자열 관련 함수 : 문자열오브젝트.upper(), 오브젝트.lower()
a_str = " Hello Python programming !!"
print(a_str.upper())
print(a_str.lower())

 HELLO PYTHON PROGRAMMING !!
 hello python programming !!

In [2]:
a_str_upper = a_str.upper()
a_str_upper

' HELLO PYTHON PROGRAMMING !!'

In [8]:
# 문자열의 공백 제거 : 문자열.strip() -> 양쪽의 공백 제거
#   문자열.lstrip() ->  왼쪽의 공백 제거
#   문자열.rstrip() ->  오른쪽의 공백 제거
a_str = "  Hello Python programming !!  "
print("strip() -> /{}/".format(a_str.strip()))
print("lsrip() -> /{}/".format(a_str.lstrip()))
print("rsrip() -> /{}/".format(a_str.rstrip()))

strip() -> /Hello Python programming !!/
lsrip() -> /Hello Python programming !!  /
rsrip() -> /  Hello Python programming !!/

In [11]:
print(a_str.isalnum())  # False

b_str = 'abcd1232cdcd'
b_str.isalnum()  # True

False

True

In [14]:
# find(), rfind() -> 위치 반환
a_str = "Hello Python programming!!"
# Python 만 출력
a_str[ a_str.find(' ')+1 : a_str.rfind(' ')]

'Python'

In [24]:
b_str = "Hello Python programming !!"
b_str[ b_str.find(' ')+1 : b_str.rfind(' ')]\
[ : b_str[ b_str.find(' ')+1 : b_str.rfind(' ')].rfind(' ')]

'Python'

In [27]:
b_str[ b_str.find(' ')+1 : b_str.find(' ',b_str.find(' ')+1) ]

'Python'

In [34]:
s_idx = b_str.find(' ')+1
e_idx = b_str.find(' ', s_idx)
b_str[s_idx : e_idx].upper()

'PYTHON'

In [33]:
a_str = "hello hello python"
# 문자가 해당 문자열에 있는지 확인 : 문자 in 문자열
print('hello' in a_str ) # True
print('lo1' in a_str)  # False

True
False

In [38]:
a_str = "hello hello python"
# 문자열.split('분리하고자 하는 문자') 공백은 생략 가능
a_str.split()

['hello', 'hello', 'python']

In [49]:
s_str = b_str.split()
s_str

['Hello', 'Python', 'programming', '!!']

In [50]:
s_str[1] = s_str[1].upper()
s_str

['Hello', 'PYTHON', 'programming', '!!']

In [51]:
" 3 + 4 = {}".format(3+4)

' 3 + 4 = 7'

In [52]:
# 3.6 버전 이후부터 가능 : f'문자열{표현식}문자열'
f'3 + 4 = {3+4}'

'3 + 4 = 7'

# chap 3.조건문

## 1.  불 자료형과 if 조건문

In [53]:
# True, False, and, or, not , ==, !=, >, <, >=, <=
# if 표현식 :
#   들여쓰기 
if True:
    print("True 출력")   # 실행
    
if False:
    print("False 출력")  # 실행 안됨

True 출력

In [60]:
# 키보드에서 자료를 입력 받아 숫자이면 '입력 받은 자료는 숫자'
# 문자이면 '입력 받은 자료는 문자' 출력
# 1. 자료 입력 받음
input_data = input("자료 입력 :")
# 2. 숫자이면 '입력 받은 자료는 숫자' 출력
if input_data.isnumeric() :
    print('입력 받은 자료는 숫자 {}'.format(input_data) )
# 3. 문자이면 '입력 받은 자료는 문자' 출력
if not input_data.isnumeric() :
    print('입력 받은 자료는 문자 {}'.format(input_data) )

자료 입력 :12.34
입력 받은 자료는 문자 12.34

In [64]:
# 날짜 / 시간 활용하기 : datetime 모듈 소스에 삽입
# import 모듈명
import datetime

now = datetime.datetime.now()
print("{}년 {}월 {}일 {}시 {}분 {}초".format(now.year, now.month,
                                       now.day, now.hour, now.minute,
                                       now.second))

2022년 6월 24일 10시 42분 32초

In [66]:
if now.hour < 12:
    print('현재 시각은 {}시로 오전 입니다'.format(now.hour))

현재 시각은 10시로 오전 입니다

In [67]:
# 3월에서 5월은 봄, 6 ~ 8월은 여름, 9 ~11월은 가을, 1,2,12월은 겨울
if 3 <= now.month <= 5 :
    print("{}월은 봄입니다".format(now.month))
if 6 <= now.month <= 8 :
    print("{}월은 여름입니다".format(now.month))
if 9 <= now.month <= 11 :
    print("{}월은 가을입니다".format(now.month))
if 1 <= now.month <= 2 or now.month == 12 :
    print("{}월은 겨울입니다".format(now.month))

6월은 여름입니다

In [76]:
# 정수를 입력 받아 입력된 숫자가 짝수인지 홀수인지 출력
input_num = input("정수 입력 : ")

# 1. 입력된 마지막 문자를 숫자로 변경 후 0, 2, 4, 6, 8 이면 짝수
#                   1, 3, 5, 7, 9 이면 홀수
last_num = int(input_num[-1])
if last_num == 0 or last_num ==2 or last_num == 4 or last_num == 6 \
 or last_num == 8:
    print(f"입력한 숫자 {input_num}는 짝수입니다")

if last_num == 1 or last_num ==3 or last_num == 5 or last_num == 7 \
 or last_num == 9:
    print(f"입력한 숫자 {input_num}는 홀수입니다")

정수 입력 : 123
입력한 숫자 123는 홀수입니다

In [77]:
# 문자열의 경우 in 연산자를 사용 if '문자' in '문자열' :
last_char = input_num[-1]
if last_char in '02468':
    print(f"입력한 숫자 {input_num}는 짝수입니다")

if last_char in '13579':
    print(f"입력한 숫자 {input_num}는 홀수입니다")

입력한 숫자 123는 홀수입니다

In [75]:
# 2. 입력된 문자를 숫자로 변경 후 2나눈 나머지 값이 0면 짝수, 1이면 홀수
input_num = input("정수 입력 : ")
input_num = int(input_num)
if input_num % 2 == 0:
    print(f"입력한 숫자 {input_num}는 짝수입니다")
    
if input_num % 2 == 1:
    print(f"입력한 숫자 {input_num}는 홀수입니다")

입력한 숫자 2334는 짝수입니다

In [79]:
num = 1
if num:
    print("{}은 0이 아닙니다".format(num))

1은 0이 아닙니다

In [81]:
char = 'abcd'
if char:
    print(char)

abcd

## 2. if~else, elif 구문

In [83]:
input_num = input("정수 입력 : ")
input_num = int(input_num)
if input_num % 2 == 0:
    print(f"입력한 숫자 {input_num}는 짝수입니다")
else:
    print(f"입력한 숫자 {input_num}는 홀수입니다")

정수 입력 : 11
입력한 숫자 11는 홀수입니다

In [84]:
# 3월에서 5월은 봄, 6 ~ 8월은 여름, 9 ~11월은 가을, 1,2,12월은 겨울
if 3 <= now.month <= 5 :
    print("{}월은 봄입니다".format(now.month))
elif 6 <= now.month <= 8 :
    print("{}월은 여름입니다".format(now.month))
elif 9 <= now.month <= 11 :
    print("{}월은 가을입니다".format(now.month))
else :
    print("{}월은 겨울입니다".format(now.month))

6월은 여름입니다

In [87]:
# 키보드에서 자료를 입력받아 정수이면 짝수인지 확인하고 짝수 출력
# 정수가 아니면 마지막 문자출력 

# 1. 키보드에서 자료 입력 받음
input_str = input("자료 입력 : ")
# 2. 정수인지 확인 -> 정수이면 짝수 홀수 check
#    아니면 마지막 글자 출력
if input_str.isdecimal():
    if input_str[-1] in '02468':
        print("입력 받은 {}는 짝수입니다".format(input_str))
    else:
        print("입력 받은 {}는 홀수입니다".format(input_str))
else:
    print("입력 받은 {}의 마지막 문자는 {}".format(input_str,input_str[-1]))

자료 입력 : abcd test
입력 받은 abcd test의 마지막 문자는 t

In [89]:
a = 10
if a :
    pass
    # 아직 구현 안 됨

# chap4. 반복문
## 1. 리스트와 반복문

In [92]:
# 리스트 선언하기  : [ 요소, ... ]
list_a = [12,'test', True, 345, 'python programming']
list_a

[12, 'test', True, 345, 'python programming']

In [100]:
# 리스트의 요소 접근하는 방법 : 리스트[인덱스]
print(type(list_a))
print(list_a[1])  # test
print(list_a[1:3]) # test, True

print(list_a[-1]) # 'python programming'

# python programming의 자료에서 python만 출력
print(list_a[-1].split()[0])  # ['python', 'programming']
print(list_a[-1][ : list_a[-1].find(' ')])

<class 'list'>
test
['test', True]
python programming
python
python

In [106]:
list_a[-1].split(' ')[0]

'python'

In [107]:
list_b = [[1,2,3], ['a','b','c'], [4,5,6]]
# 'a' 추출
list_b[1][0]

'a'

In [108]:
list_a = [12,'test', True, 345, 'python programming']
list_a[1][1] # test의 'e' 추출

'e'

In [112]:
list_a[len(list_a) ]

IndexError: list index out of range

In [113]:
len(list_a)

5

In [120]:
# 리스트의 연산 : +, *
# 리스트에 요소 추가하기 : 리스트명.append(요소), 리스트명.insert(위치, 요소)
#  리스트의 각 요소를 리스트에 추가 : 리스트명.extend(리스트)
list_a = [1, 2, 3]
list_b = [4, 5, 6]
print(list_a + list_b)  # 기존 자료에 영향을 주지 않음
print()
print(list_a)
print()

list_a.append('a')  #  기존의 리스트에 영향을 줌
print(list_a)

list_a.append(list_b)  # [ 1,2,3,'a', [4,5,6]]
print(list_a)

list_a.insert(1,'test')  # [ 1,'test',2,3,'a', [4,5,6]]
print(list_a)
print()

list_a.extend(list_b)  # [ 1,'test',2,3,'a', [4,5,6], 4,5,6]
list_a

[1, 2, 3, 4, 5, 6]

[1, 2, 3]

[1, 2, 3, 'a']
[1, 2, 3, 'a', [4, 5, 6]]
[1, 'test', 2, 3, 'a', [4, 5, 6]]

[1, 'test', 2, 3, 'a', [4, 5, 6], 4, 5, 6]

In [121]:
list_c = []
list_c.append('a')
list_c.append([1,2,3])
list_c

['a', [1, 2, 3]]

In [122]:
# 여러 개(5)의 자료를 입력받아 리스트로 만든 후
# 리스트의 내용을 출력, 
# 다시 문자를 입력 받아 2번째 자료를 수정 하세요
input_list = []

input_data = input("자료 입력 : ")
input_list.append(input_data)
input_data = input("자료 입력 : ")
input_list.append(input_data)
input_data = input("자료 입력 : ")
input_list.append(input_data)
input_data = input("자료 입력 : ")
input_list.append(input_data)
input_data = input("자료 입력 : ")
input_list.append(input_data)

print("입력한 자료 : ", input_list)
input_list[2] = input("수정할 자료 입력 : ")

print("수정한 자료 : ", input_list)

자료 입력 : ㅁ
자료 입력 : b
자료 입력 : c
자료 입력 : d
자료 입력 : e
입력한 자료 :  ['ㅁ', 'b', 'c', 'd', 'e']
수정할 자료 입력 : 1000
수정한 자료 :  ['ㅁ', 'b', '1000', 'd', 'e']

In [ ]:
# 리스트 제거 : 인덱스 제거 -> del 리스트명[인덱스]
#     마지막 요소 제거 : 리스트.pop()

In [123]:
del input_list[0]
print(input_list)

['b', '1000', 'd', 'e']

In [124]:
input_list.pop()
print(input_list)

['b', '1000', 'd']

In [125]:
input_list.pop(1)
print(input_list)

['b', 'd']

In [128]:
# 리스트의 인덱스 슬라이싱 : 리스트명[ start : stop : step ]
list_a = [1,2,3,4,5,6,7,8,9]

print(list_a[ : :2])
print(list_a[2 : 5: 1])

print(list_a[ : : -1])

[1, 3, 5, 7, 9]
[3, 4, 5]
[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [130]:
# 리스트의 자료 제거 : del 리스트명[인덱스], 리스트명.pop([위치])
# 리스트의 값으로 제거 : 리스트명.remove(값)
list_r = [1,2,1,2,3]
list_r.remove(2)  # 2

print(list_r)

# 리스트의 내용을 모두 제거 : 리스트명.clear()
list_r.clear()
print(list_r)

[1, 1, 2, 3]
[]

In [ ]:
# 리스트의 자료를 추가 : append(요소), insert(위치, 요소), extend(리스트)
# 수정 : 리스트[위치] = 값
# 삭제 : del 리스트[위치], 리스트.pop() 마지막 삭제, 리스트.pop(위치)
#  값으로 삭제 : 리스트.remove(값)  -> 처음 나오는 값을 제거
#  모든 요소 삭제 : 리스트.clear()
# 정렬 : 리스트.sort(reverse=True)
# 값 in 리스트

In [133]:
list_a = [34, 56, 12, 78, 23]
print(list_a)

list_a.sort(reverse=True)
print(list_a)

[34, 56, 12, 78, 23]
[78, 56, 34, 23, 12]

In [135]:
print(20 in list_a)  # False
print(20 not in list_a)  # True

False

True

In [136]:
# for 반복문 : 리스트와 함께 사용
# for 반복자 in 반복할 수 있는 모든 자료:

for char in 'hello for':
    print(char, end=' ')
print()

h e l l o   f o r

In [140]:
cnt = 0
for items in list_a:
    cnt += 1
    print('{}회 : {}'.format(cnt,items))
print('end')

1회 : 78
2회 : 56
3회 : 34
4회 : 23
5회 : 12
end

In [141]:
list_array = [ [1,2,3], [4,5,6], [7,8,9,10]]
for items in list_array:
    for item in items:
        print(item,end='\t')
    print()

1	2	3
4	5	6
7	8	9	10

In [ ]:
# 구구단 출력 
=== 2 단 ====
2 * 1 =  2    2 * 2 =  4      2 * 3 =  6
2 * 4 =  8    2 * 5 = 10      2 * 6 = 12
2 * 7 = 14    2 * 8 = 16      2 * 9 = 18
..
3 단

In [158]:
list_dan = [2,3,4,5,6,7,8,9]
list_num = [1,2,3,4,5,6,7,8,9]

for dan in list_dan:
    print(f"=== {dan} 단 === ")
    cnt = 1
    for num in list_num:
        if cnt < 3:
            print("{} * {} = {:2d}".format(dan, num, dan * num),end='\t')
            cnt += 1
        else:
            cnt = 1
            print("{} * {} = {:2d}".format(dan, num, dan * num))            
    print()

=== 2 단 ===
2 * 1 =  2	2 * 2 =  4	2 * 3 =  6
2 * 4 =  8	2 * 5 = 10	2 * 6 = 12
2 * 7 = 14	2 * 8 = 16	2 * 9 = 18

=== 3 단 ===
3 * 1 =  3	3 * 2 =  6	3 * 3 =  9
3 * 4 = 12	3 * 5 = 15	3 * 6 = 18
3 * 7 = 21	3 * 8 = 24	3 * 9 = 27

=== 4 단 ===
4 * 1 =  4	4 * 2 =  8	4 * 3 = 12
4 * 4 = 16	4 * 5 = 20	4 * 6 = 24
4 * 7 = 28	4 * 8 = 32	4 * 9 = 36

=== 5 단 ===
5 * 1 =  5	5 * 2 = 10	5 * 3 = 15
5 * 4 = 20	5 * 5 = 25	5 * 6 = 30
5 * 7 = 35	5 * 8 = 40	5 * 9 = 45

=== 6 단 ===
6 * 1 =  6	6 * 2 = 12	6 * 3 = 18
6 * 4 = 24	6 * 5 = 30	6 * 6 = 36
6 * 7 = 42	6 * 8 = 48	6 * 9 = 54

=== 7 단 ===
7 * 1 =  7	7 * 2 = 14	7 * 3 = 21
7 * 4 = 28	7 * 5 = 35	7 * 6 = 42
7 * 7 = 49	7 * 8 = 56	7 * 9 = 63

=== 8 단 ===
8 * 1 =  8	8 * 2 = 16	8 * 3 = 24
8 * 4 = 32	8 * 5 = 40	8 * 6 = 48
8 * 7 = 56	8 * 8 = 64	8 * 9 = 72

=== 9 단 ===
9 * 1 =  9	9 * 2 = 18	9 * 3 = 27
9 * 4 = 36	9 * 5 = 45	9 * 6 = 54
9 * 7 = 63	9 * 8 = 72	9 * 9 = 81

In [161]:
list_dan = [2,3,4,5,6,7,8,9]
list_num = [1,2,3,4,5,6,7,8,9]

# 단을 반복해서 리스트에서 가져옴
for dan in list_dan:
    if dan == 8:
        break
    if dan == 4:
        continue
    # 단을 출력
    print("=== {}단 ===".format(dan))
    #단에 대해서 num의 각 값을 곱한 결과 출력
    line_cnt = 0
    for num in list_num:
        line_cnt += 1        
        if line_cnt < 3:
            print("{} * {} = {}".format(dan, num, dan * num), end='\t')
        else:
            print("{} * {} = {}".format(dan, num, dan * num))
            line_cnt = 0
    print()

=== 2단 ===
2 * 1 = 2	2 * 2 = 4	2 * 3 = 6
2 * 4 = 8	2 * 5 = 10	2 * 6 = 12
2 * 7 = 14	2 * 8 = 16	2 * 9 = 18

=== 3단 ===
3 * 1 = 3	3 * 2 = 6	3 * 3 = 9
3 * 4 = 12	3 * 5 = 15	3 * 6 = 18
3 * 7 = 21	3 * 8 = 24	3 * 9 = 27

=== 5단 ===
5 * 1 = 5	5 * 2 = 10	5 * 3 = 15
5 * 4 = 20	5 * 5 = 25	5 * 6 = 30
5 * 7 = 35	5 * 8 = 40	5 * 9 = 45

=== 6단 ===
6 * 1 = 6	6 * 2 = 12	6 * 3 = 18
6 * 4 = 24	6 * 5 = 30	6 * 6 = 36
6 * 7 = 42	6 * 8 = 48	6 * 9 = 54

=== 7단 ===
7 * 1 = 7	7 * 2 = 14	7 * 3 = 21
7 * 4 = 28	7 * 5 = 35	7 * 6 = 42
7 * 7 = 49	7 * 8 = 56	7 * 9 = 63

In [162]:
a_list = [1,2,3,4,5,7,8,9]
for items in a_list:
    if items == 7:
        break
    if items % 3 == 0:
        continue
    print(items)

1
2
4
5

In [164]:
print(a_list)
print(*a_list)

[1, 2, 3, 4, 5, 7, 8, 9]
1 2 3 4 5 7 8 9