In [14]:
import pandas as pd
import numpy as np
import seaborn as sns

# mpg 데이터셋을 로드해서
df_mpg = sns.load_dataset('mpg')
df_mpg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [10]:
# 1 mpg, weight 컬럼을 추출해서 데이터프레임으로 생성
df = df_mpg[['mpg', 'weight']]
print(df)

      mpg  weight
0    18.0    3504
1    15.0    3693
2    18.0    3436
3    16.0    3433
4    17.0    3449
..    ...     ...
393  27.0    2790
394  44.0    2130
395  32.0    2295
396  28.0    2625
397  31.0    2720

[398 rows x 2 columns]

In [15]:
# 2 각 원소에 100을 더한 값을 출력
df = df + 100
print(df)

       mpg  weight
0    118.0    3604
1    115.0    3793
2    118.0    3536
3    116.0    3533
4    117.0    3549
..     ...     ...
393  127.0    2890
394  144.0    2230
395  132.0    2395
396  128.0    2725
397  131.0    2820

[398 rows x 2 columns]

In [24]:
# 데이터프레임을 처음 10개의 정보만 출력
df_10 = df.head(10)
print(df_10)

     mpg  weight
0  118.0    3604
1  115.0    3793
2  118.0    3536
3  116.0    3533
4  117.0    3549
5  115.0    4441
6  114.0    4454
7  114.0    4412
8  114.0    4525
9  115.0    3950

In [21]:
# 처음부터 100개의 행만 추출하여 mpg_sample 데이터 프레임생성
df[ : 101]

       mpg  weight
0    118.0    3604
1    115.0    3793
2    118.0    3536
3    116.0    3533
4    117.0    3549
..     ...     ...
96   113.0    3921
97   118.0    3221
98   116.0    3378
99   118.0    3045
100  118.0    3121

[101 rows x 2 columns]